"""Client wrapper for the {{ service_name }} API."""


class {{ service_name }}Error(Exception):
    """{{ service_name }} API error."""


class {{ service_name }}Client:
    """Validated, formatted interface to the {{ service_name }} API."""

    def __init__(self) -> None:
        pass

    def ping(self) -> str:
        """Placeholder method to verify the client works."""
        return "pong"
